// Whites
$color-white: #fff;
$color-whiteSmoke: #f5f5f5;

// Greens
$color-green: #12b161;
$color-greenDark: #004421;

// Greys
$color-grey: #ccc;

// Blues
$color-teal: #52c4cc;

// Social Media
$color-twitter: $color-teal;
