@import '_breakpoints';
@import '_colours';

$px: 0.05896225vw;
$pxMobile: 0.307693vw;

@mixin fontSize($int:16) {
  font-size: ($px * $int);
}
@mixin fontSizeMobile($int:16) {
  font-size: ($pxMobile * $int);
}

@mixin text($size:0, $weight:0, $color:'') {
  @if $size != 0 {
    @include fontSize($size);
  }
  @if $weight != 0 {
    font-weight: $weight;
  }
  @if $color != '' {
    color: $color;
  }
}
@mixin textMobile($size:0, $weight:0, $color:'') {
  @if $size != 0 {
    @include fontSizeMobile($size);
  }
  @if $weight != 0 {
    font-weight: $weight;
  }
  @if $color != '' {
    color: $color;
  }
}

%button {
  @include textMobile(13, 800, $color-white);
  background-color: $color-greenDark;
  border: 0;
  border-radius: ($pxMobile * 10);
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: ($pxMobile * 10) ($pxMobile * 25);

  @include media(ld) {
    @include text(15);
    border-radius: ($px * 10);
    padding: ($px * 10) ($px * 25);
  }

  &:hover {
    background-color: lighten($color-greenDark, 5%);
  }
}

%buttonInverted {
  @extend %button;
  background-color: $color-white;
  color: $color-greenDark;

  &:hover {
    background-color: darken($color-white, 5%);
  }
}

%buttonLarge {
  @extend %button;
  padding: ($pxMobile * 10) ($pxMobile * 40);
  font-size: $pxMobile * 18;

  @include media(ld) {
    padding: ($px * 20) ($px * 60);
    font-size: $px * 24;
  }
}