.bioFooter-contactEmail, .bioFooter-contactPhone {
  font-size: 7.38463vw;
  font-weight: 600;
  color: #12b161;
  display: block;
  margin-bottom: 9.23079vw; }
  .bioFooter-contactEmail::before, .bioFooter-contactPhone::before {
    font-size: 9.84618vw;
    font-weight: 600;
    color: #004421;
    display: inline-block;
    font-family: FontAwesome;
    margin-right: 1.53847vw;
    vertical-align: middle; }
  @media only screen and (min-width: 768px) {
    .bioFooter-contactEmail, .bioFooter-contactPhone {
      font-size: 1.41509vw;
      display: inline-block;
      margin-bottom: 0;
      margin-right: 2.35849vw; }
      .bioFooter-contactEmail::before, .bioFooter-contactPhone::before {
        font-size: 1.88679vw;
        margin-right: 0.29481vw; } }
  .bioFooter-contactEmail:hover, .bioFooter-contactPhone:hover, .bioFooter-contactEmail:active, .bioFooter-contactPhone:active, .bioFooter-contactEmail:focus, .bioFooter-contactPhone:focus {
    text-decoration: underline; }

.bioFooter {
  background: #f5f5f5 url(../images/footer.jpg) no-repeat bottom center;
  background-size: 66.15399vw;
  box-sizing: border-box;
  margin-top: -30.7693vw;
  padding: 30.7693vw 3.07693vw; }
  @media only screen and (min-width: 768px) {
    .bioFooter {
      background: #f5f5f5 url(../images/footer.jpg) no-repeat bottom right 11.79245vw;
      background-size: 12.67688vw;
      margin-top: 2.94811vw;
      min-height: 14.74056vw;
      padding: 2.94811vw 11.79245vw; } }
  .bioFooter-contact {
    margin-bottom: 2.35849vw; }
  .bioFooter-contactEmail::before {
    content: '\f1fa'; }
  .bioFooter-contactPhone::before {
    content: '\f095'; }
  .bioFooter-icon {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    font-size: 5.53847vw;
    font-weight: 400;
    color: #fff;
    background-color: #004421;
    border-radius: 50%;
    height: 12.30772vw;
    margin-right: 3.07693vw;
    width: 12.30772vw; }
    @media only screen and (min-width: 768px) {
      .bioFooter-icon {
        font-size: 1.06132vw;
        height: 2.35849vw;
        margin-right: 0.58962vw;
        width: 2.35849vw; } }
    .bioFooter-icon:hover, .bioFooter-icon:active, .bioFooter-icon:focus {
      background-color: #005e2d; }
  .bioFooter-navList {
    margin-bottom: 12.30772vw; }
    @media only screen and (min-width: 768px) {
      .bioFooter-navList {
        margin-bottom: 2.35849vw; } }
  .bioFooter-navListItem {
    font-size: 5.53847vw;
    font-weight: 700;
    color: #12b161;
    display: block;
    margin-top: 12.30772vw; }
    @media only screen and (min-width: 768px) {
      .bioFooter-navListItem {
        font-size: 1.06132vw;
        display: inline-block;
        margin-right: 2.35849vw;
        margin-top: 0; } }
    .bioFooter-navListItem:hover, .bioFooter-navListItem:active, .bioFooter-navListItem:focus {
      text-decoration: underline; }
  .bioFooter-privacy {
    font-size: 4.92309vw;
    font-weight: 600;
    color: #004421; }
    @media only screen and (min-width: 768px) {
      .bioFooter-privacy {
        font-size: 0.9434vw;
        margin-bottom: 2.35849vw; } }
  .bioFooter-privacyCopyright {
    display: block;
    margin-bottom: 12.30772vw; }
    @media only screen and (min-width: 768px) {
      .bioFooter-privacyCopyright {
        display: inline;
        margin-bottom: 0; } }
  .bioFooter-privacyLink {
    margin-right: 7.69233vw; }
    @media only screen and (min-width: 768px) {
      .bioFooter-privacyLink {
        margin-left: 2.35849vw;
        margin-right: 0; } }
    .bioFooter-privacyLink:hover, .bioFooter-privacyLink:active, .bioFooter-privacyLink:focus {
      text-decoration: underline; }

/*# sourceMappingURL=footer.css.map */
